* {
<style>
body {
background-color: pink;
font-family: Helvetica;   
box-sizing: border-box;
margin: 0;
padding: 0;
}

body {
    
}

header {
 /* justify-content: center; */
 /* border: solid 2px gray; */
}



main {
    
    
}


footer {
    
}





















